<!DOCTYPE html>
<html lang = "ko">

<head>
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous">
    </script>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <mata charset = "utf-8">
    <title>BLOG</title>

    <style>
        h1{
            font-size : 20px;
        }
  </style>
</head>

<body>
    <br>
      <div class="container" style="width:1150px; margin: 0 auto;">
              <nav class="navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">BLOG</a>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="{%url 'logout'%}">logout</a></li> 
                      <li class="active"><a href="{%url 'home'%}">home</a></li> 
                      <li><a href="{%url 'new'%}">writing</a></li>
                      <li><a href="{%url 'portfolio'%}">portfolio</a></li> 
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
            <br><br>
          <div style ="padding:20px">
              <div style="border: 2px solid gray; width:1100px; height:300px; margin: 0 auto; padding:40px;">
               <h1 style = "color:skyblue;">제목 : {{blog.title}}</h1>
               <br>
               <p>작성날짜 : {{blog.pub_date}}</p>
               <p>자세한 본문 : {{blog.body}}</p>
               <br>
              </div>
          </div>
</body>
</html>
